/*
body { background-color:#ff0000;
	 }
	 
.navbar navbar-fixed-top { background-color:#ff0000; }
.navbar { background-color:#ff0000; }
.navbar-fixed-top { background-color:#ff0000; }
.navbar-inner { background-color:#ff0000; }
.container { background-color:#ff0000; }
.brand { background-color:#ff0000; }
.pull-right { background-color:#ff0000; }

*/
