
/* background is green */
body {  background-color:#097d20; }
	 
/* category text is yellow */
h1 { color:#ffff00; }

/* navigation button text is red */
a { color:#ff0000; }

/* navbar backgrounds are red */
.navbar-inner { color:#ffff00; background-color:#d51313; background-image: none}

/* avbar text yellow */
.navbar .brand { color:#ffff00; }

/* reduce size of input textbox to something smaller */
input, textarea { width:20px; }

