<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pizzas>
		<item>
			<name>Tomato &amp; Cheese</name>
			<price>
				<small id="00001S">5.50</small>
				<large id="00001L">9.75</large>
			</price>
		</item>
		<item>
			<name>Onions</name>
			<price>
				<small id="00002S">6.85</small>
				<large id="00002L">10.85</large>
			</price>
		</item>
		<item>
			<name>Peppers</name>
			<price>
				<small id="00003S">6.85</small>
				<large id="00003L">10.85</large>
			</price>
		</item>
	</pizzas>
	<specialty_pizzas>
		<item>
			<name>Three Aces Special</name>
			<price>
				<small id="0101S">9.80</small>
				<large id="0101L">15.80</large>
			</price>
		</item>
		<item>
			<name>Mediterranean</name>
			<description>Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese</description>
			<price>
				<small id="0102S">9.80</small>
				<large id="0102L">15.80</large>
			</price>
		</item>
		<item>
			<name>Vegetarian</name>
			<description>Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, Mozzarella</description>
			<price>
				<small id="0103S">9.80</small>
				<large id="0103L">15.80</large>
			</price>
		</item>
			<item>
			<name>Meat Lovers</name>
			<description>Pepperoni, Hamburg, Sausage &amp; Bacon</description>
			<price>
				<small id="0104S">9.80</small>
				<large id="0104L">15.80</large>
			</price>
		</item>
		<item>
			<name>Bbq Grilled Chicken</name>
			<description>Choice Of Vegetables</description>
			<price>
				<small id="0105S">9.80</small>
				<large id="0105L">15.80</large>
			</price>
		</item>
	</specialty_pizzas>
	<specialty_dinners>
		<item>
			<name>Chicken Wing Dinner</name>
			<price>
				<regular id="0201R">7.25</regular>
			</price>
		</item>
		<item>
			<name>Gyro Plate</name>
			<price>
				<regular id="0202R">7.25</regular>
			</price>
		</item>
		<item>
			<name>Chicken Finger Plate</name>
			<price>
				<regular id="0203R">7.25</regular>
			</price>
		</item>
		<item>
			<name>Chicken Kabob Plate</name>
			<description>With rice, salad &amp; pita bread</description>
			<price>
				<regular id="0204R">7.85</regular>
			</price>
		</item>
	</specialty_dinners>
	<side_orders>
		<item>
			<name>Onion Rings</name>
			<price>
				<small id="0301S">2.60</small>
				<large id="0301L">2.95</large>
			</price>
		</item>
		<item>
			<name>French Fries</name>
			<price>	   
				<small id="0302S">2.25</small>
				<large id="0302L">2.65</large>
			</price>   
		</item>		   
		<item>		   
			<name>Spicy Fries</name>
			<price>	   
				<small id="0303S">2.60</small>
				<large id="0303L">2.95</large>
			</price>   
		</item>		   
		<item>		   
			<name>Chicken Wings</name>
			<price>	   
				<regular id="0304R">2.60</regular>
			</price>   
		</item>
	</side_orders>
	<salads>
		<item>
			<name>Garden</name>
			<price>
				<small id="0401S">3.50</small>
				<large id="0401L">4.50</large>
			</price>
		</item>
		<item>
			<name>Greek</name>
			<price>
				<small id="0402S">4.50</small>
				<large id="0402L">5.50</large>
			</price>
		</item>
		<item>
			<name>Antipasto</name>
			<price>
				<small id="0403S">4.50</small>
				<large id="0403L">5.50</large>
			</price>
		</item>
		<item>
			<name>Chef</name>
			<price>
				<small id="0404S">4.50</small>
				<large id="0404L">5.50</large>
			</price>
		</item>
	</salads>
	<spaghetti_or_ziti>
		<item>
			<name>With Sauce</name>
			<price>
				<regular id="0501R">5.40</regular>
			</price>
		</item>
		<item>
			<name>With Sausage</name>
			<price>
				<regular id="0502R">6.45</regular>
			</price>
		</item>
		<item>
			<name>With Meat Ball</name>
			<price>
				<regular id="0503R">6.45</regular>
			</price>
		</item>
		<item>
			<name>A La Three Aces</name>
			<description>Sausage, Mushrooms, Bacon &amp; Ham, Topped with Sauce &amp; Mozzarella Cheese</description>
			<price>
				<regular id="0504R">5.40</regular>
			</price>
		</item>
	</spaghetti_or_ziti>
	<homemade_lasagna_ravioli_or_manicotti>
		<item>
			<name>With Sauce</name>
			<price>
				<regular id="0601R">6.25</regular>
			</price>
		</item>
		<item>
			<name>With Sausage</name>
			<price>
				<regular id="0602R">7.25</regular>
			</price>
		</item>
		<item>
			<name>With Meatball</name>
			<price>
				<regular id="0603R">7.25</regular>
			</price>
		</item>	
		<item>
			<name>Veggie Lasagna</name>
			<price>
				<regular id="0604R">7.25</regular>
			</price>
		</item>			
	</homemade_lasagna_ravioli_or_manicotti>
	<homemade_calzones>
		<item>
			<name>Vegetarian</name>
			<price>
				<large id="0701L">7.35</large>
			</price>
		</item>
		<item>
			<name>Sausage</name>
			<price>
				<large id="0702L">7.35</large>
			</price>
		</item>
		<item>
			<name>Ham &amp; Cheese</name>
			<price>
				<large id="0703L">7.35</large>
			</price>
		</item>
		<item>
			<name>Chicken Cutlet</name>
			<price>
				<large id="0704L">7.35</large>
			</price>
		</item>
	</homemade_calzones>	
	<wraps>
		<item>
			<name>Turkey Club Wrap</name>
			<description>Turkey, Cheese, Lettuce, Tomato, Onion, Mayo</description>
			<price>
				<regular id="0801R">4.95</regular>
			</price>
		</item>
		<item>
			<name>Chicken Cobb</name>
			<description>Grilled Chicken, Bacon, Cheese, Lettuce, Tomato, Onion, Mayo</description>
			<price>
				<regular id="0802R">4.95</regular>
			</price>
		</item>
		<item>
			<name>Greek Supreme</name>
			<description>Feta Cheese, Black Olives, Lettuce, Tomato, Onion, Greek Dressing</description>
			<price>
				<regular id="0803R">4.95</regular>
			</price>
		</item>
		<item>
			<name>Crispy Chicken</name>
			<description>Chicken Finger, Lettuce, Tomato, Onion, Honey Mustard</description>
			<price>
				<regular id="0804R">4.95</regular>
			</price>
		</item>
	</wraps>	
	<grinders>
		<item>
			<name>Meatless</name>
			<price>
				<small id="0901S">4.50</small>
				<large id="0901L">4.95</large>
			</price>
		</item>
		<item>
			<name>Hamburger</name>
			<price>
				<small id="0902S">4.50</small>
				<large id="0902L">4.95</large>
			</price>
		</item>
		<item>
			<name>Cheeseburger</name>
			<price>
				<small id="0903S">4.75</small>
				<large id="0903L">5.75</large>
			</price>
		</item>
		<item>
			<name>Meatball</name>
			<price>
				<small id="0904S">4.75</small>
				<large id="0904L">5.75</large>
			</price>
		</item>
	</grinders>
</menu>
